* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.menu {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    gap: 1em;
    padding: 1em;
    align-items: center;
    background-color: rgba(42, 148, 65, 0.534);
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 160px;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 25px;
    background-color: cornflowerblue;
    cursor: pointer;
    border: none;
}

button:hover {
    transition: all 0.8s ease 0s;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(100, 148, 237, 0.767);
}

.main-logo {
    width: 200px;

}